body {
	background-image: url("../images/background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom bottom;
	background-color: black;
}

.characters_box {
	height: 33px;
	width: 150px;
	transform: scale(3, 3);
	margin-left: auto;
	margin-right: auto;
}

.protraits{
    background-image: url("../images/protraits.png");
}

.character {
	height: 33px;
	width: 33px;
	margin-top: 16px;
}

.player {
	height: 112px;
	width: 112px;
	transform: scale(3, 3);
	position: absolute;
	left: 224px;
	top: 150px;
}

.defender {
	height: 112px;
	width: 112px;
	transform: scale(3, 3);
	position: absolute;
	right: 224px;
	top: 150px;
}

.ryu {
	display: inline-block;
	background-position: -129px -452px;
}

.ryu:hover {
	background-position: -260px -452px;
}

.ryu_big {
	display: inline-block;
	background-position: 0px 0px;
}

.chunli {
	display: inline-block;
	background-position: -162px -452px;
}

.chunli:hover {
	background-position: -293px -452px;
}

.chunli_big {
	display: inline-block;
	background-position: -112px 0px;
}

.ken {
	display: inline-block;
	background-position: -228px -452px;
}

.ken:hover {
	background-position: -359px -452px;
}

.ken_big {
	display: inline-block;
	background-position: -336px 0px;
}

.guy {
	display: inline-block;
	background-position: -129px -485px;
}

.guy:hover {
	background-position: -260px -485px;
}

.guy_big {
	display: inline-block;
	background-position: 0px -112px;
}

.bison {
	display: inline-block;
	background-position: -129px -518px;
}

.bison:hover {
	background-position: -260px -518px;
}

.bison_big {
	display: inline-block;
	background-position: 0px -224px;
}