body {
	background-image: url("../images/background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom bottom;
	background-color: black;
}

.characters_box {
	height: 33px;
	width: 140px;
	transform: scale(3, 3);
	margin-left: auto;
	margin-right: auto;
}

.protraits {
	background-image: url("../images/protraits.png");
}

.character {
	height: 33px;
	width: 33px;
	margin-top: 16px;
}

.player {
	height: 110px;
	width: 129px;
	transform: scale(2, 2);
	position: absolute;
	left: 10%;
	top: 150px;
}

.defender {
	height: 110px;
	width: 129px;
	transform: scale(-2, 2);
	position: absolute;
	right: 10%;
	top: 150px;
}

.ryu {
	display: inline-block;
	background-position: -129px -452px;
}

.ryu:hover {
	background-position: -260px -452px;
}

.ryu_big {
	display: inline-block;
	background-position: 0px -3px;
}

.chunli {
	display: inline-block;
	background-position: -162px -452px;
}

.chunli:hover {
	background-position: -293px -452px;
}

.chunli_big {
	display: inline-block;
	background-position: -129px -3px;
}

.ken {
	display: inline-block;
	background-position: -228px -452px;
}

.ken:hover {
	background-position: -359px -452px;
}

.ken_big {
	display: inline-block;
	background-position: -387px -3px;
}

.guy {
	display: inline-block;
	background-position: -129px -485px;
}

.guy:hover {
	background-position: -260px -485px;
}

.guy_big {
	display: inline-block;
	background-position: 0px -113px;
}

.bison {
	display: inline-block;
	background-position: -129px -518px;
}

.bison:hover {
	background-position: -260px -518px;
}

.bison_big {
	display: inline-block;
	background-position: 0px -223px;
}

.dead{
	filter: grayscale(100%);
}

.hp{
    position: absolute;
	bottom: 0px;
	text-align: center;
    background-color: greenyellow;
    color: green;
    width: 100%;

}

.container{
    width: 100%;
    height: 220px;
}

.message{
	color: white;
	font-size: 32px;	
	font-weight: bolder;
	background-color: gray;
	padding-left: 30px;
	padding-right: 30px;
}

.message_container{
	width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/*flip hp text back to normal */
.defender .hp{
	transform: scale(-1,1);
}

button{
	width: 250px;
    height: 100px;
    font-size: 50px;
    border-radius: 15px;
    background-color: darkred;
    color: yellow;
    font-weight: 900;
    font-style: italic;
}